# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Cache de Python
__pycache__/
*.pyc

# Archivos de sistema macOS
.DS_Store

# Configuraciones de IDE (JetBrains/PyCharm/IntelliJ)
.idea/
*.iml

# Salidas de datos (para que no subas los CSV o resultados generados)
backend/app/model/output/
